// ------------- Partials ------------- //

@import "var.scss";
@import "mixin.scss";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// ------------- Nesting ------------- //

.header {
    width: 100vw;
    height: 100vh;
    @include flex;

    // ------------- Sass Operators ------------- //

    .head {
        letter-spacing: .3rem;
        @include common(2rem + 1.5rem ,.3rem);

        &:hover {
            color: beige;
        }
    }


    p {
        letter-spacing: .2rem;
        @include common(1.5rem + 1.5rem,.2rem);

        &:hover {
            color: rgb(253, 166, 4);
        }
    }

}

// ------------- Variables ------------- //

body {
    background-image: $bg-color;
}