* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// ------------- Mixin & Include ------------- //

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin common($font) {
    color: rgb(33, 35, 37);
    font-size: $font;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

// ------------- Nesting ------------- //

.header {
    width: 100vw;
    height: 100vh;
    @include flex;

    // ------------- Sass Operators ------------- //

    .head {
        letter-spacing: .3rem;
        @include common(2rem + 1.5rem);

        &:hover {
            color: beige;
        }
    }


    p {
        letter-spacing: .2rem;
        @include common(1.5rem + 1.5rem);

        &:hover {
            color: rgb(253, 166, 4);
        }
    }

}

// ------------- Variables ------------- //

$bg-color : rgb(21, 184, 168);

body {
    background-color: $bg-color;
}